<% if (config.author) { %>
© <%= date(new Date(), 'YYYY') %> <%= config.author %>
<% } else { %>
© <%= date(new Date(), 'YYYY') %>
<% } %>
<br>
Powered by <a href="https://hexo.io/" target="_blank">Hexo</a>.&nbsp;Theme by <a href="https://github.com/ZEROKISEKI" target="_blank">AONOSORA</a>