<nav id="cube-top-memu" class="cube-menu">
    <ul class="cube-menu-collapse">
        <% theme.menu.forEach(function (m) { %>
        <li>
            <i class="cube-icon cube-icon-<%= m.icon %>" aria-hidden="true"></i>
            <a href="<%- url_for(m.url) %>"><%- m.title %></a>
        </li>
        <% }) %>
    </ul>
</nav>
<nav class="cube-side-menu" id="cube-side-menu">
    <ul class="cube-menu-list">
        <li>
            <a class="scroll-to-top"><%= __('scroll_to_top') %></a>
        </li>
    </ul>
</nav>